/* #box2 {
  background-color: rgb(152, 164, 236);
  border: 5px solid brown;
  width: 12%;
  height: 6rem;
  display: inline-block;
  margin-right: 1em;
}
#absolute {
  position: relative;
}
#absolute #box3 {
  background-color: rgb(160, 95, 125);
  border: 5px solid rgb(151, 70, 70);
  position: absolute;
  width: 12%;
  height: 6rem;
  display: inline-block;
  margin-right: 1em;
  top: 50px;
  left: 50px;
}

#box4 {
  background-color: rgb(57, 138, 175);
  border: 5px solid rgb(151, 70, 70);
  width: 12%;
  height: 6rem;
  display: inline-block;
  margin-right: 1em;
} */

h1 {
  background-color: gainsboro;
  border: 5px solid;
  width: 250px;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  margin: 20px auto;
}

h1:nth-of-type(2n) {
  background-color: blanchedalmond;
}

h1:nth-of-type(3n) {
  background-color: rgb(170, 122, 51);
}

h1:nth-of-type(4n) {
  background-color: rgb(194, 26, 62);
  /* be default the transform origin is in the middle of the property */
  transform: rotate(20deg);
  /* The origin can be specify or change by using */
}

section:first-of-type h1:nth-of-type(1) {
  /* X and Y position */
  transform: translate(10px, 5px);
}

section:nth-of-type(2) h1:nth-of-type(2) {
  /* diagonar rotation */
  transform: skew(10deg, 20deg);
}
