* {
  color: black;
}

h1,
h2,
h3 {
  color: darkblue;
}

#signupbutton {
  background-color: cornflowerblue;
}

span {
  color: grey;
}

.funny {
  background-color: tomato;
}

footer > a {
  color: thistle;
}

a[href*="googl"] {
  color: rgb(221, 122, 8);
}

input[type="text"] {
  color: rgb(77, 255, 71);
}
