* {
  color: black;
}

h1,
h2,
h3 {
  color: darkblue;
}

#signupbutton {
  background-color: cornflowerblue;
}

span {
  color: grey;
}

.funny {
  background-color: tomato;
}

footer > a {
  color: thistle;
}
button {
  background-color: chartreuse;
}
form > button {
  background-color: cadetblue;
}

/* a[href*="googl"] {
  color: rgb(221, 122, 8);
} */

input[type="text"] {
  color: rgb(77, 255, 71);
}

/* Selects any <a> element when "hovered" */
button:hover {
  background-color: orange;
  font-size: 20px;
}
a:hover {
  color: blueviolet;
  text-decoration: underline;
}

button:active {
  background-color: red;
}

a {
  color: green;
  text-decoration: none;
}

/* h2::first-line {
  font-size: 100px;
} */

p::selection {
  background-color: hotpink;
}

h1,
h2 {
  color: black;
}
/* The second h1,h2 overrided the first one */
h1,
h2 {
  color: green;
}

h2.p {
  background-color: chartreuse;
}
